#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-bottom: 45%;
    box-sizing: border-box;
}

.about {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #f8f8f8;
    width: 1080px;

    .about-image {
        flex: 1;
        display: flex;
        justify-content: center;

        img {
            height: 500px;
        }
    }

    .about-text {
        flex: 2;
        font-size: 1.2rem;
        font-family: 'Fira Code', monospace;
        line-height: 1.6;
        margin-left: 2rem;
        min-width: 300px;
        min-height: 80px;
    }
}

@media (max-width: 1024px) {
    .about {
        width: 90%;
        padding: 1.5rem;

        .about-text {
            font-size: 1.1rem;
        }

        .about-image img {
            height: 400px;
        }
    }
}

@media (max-width: 768px) {
    #about-container {
        padding-left: 0;
        top: 10px;
    }

    .about {
        flex-direction: column;
        padding: 1rem;
        width: 100%;

        .about-image {
            margin-bottom: 1rem;

            img {
                height: 300px;
                width: 100%;
            }
        }

        .about-text {
            font-size: 1rem;
            margin-left: 0;
            text-align: center;
        }
    }
}



.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid red;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.typewriter-2 {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid red;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end) 3.5s, blink-caret 0.75s step-end infinite;
    width: 1;
}

@keyframes typing {
    from {
        width:0;
    }
    to {
        width:100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: red;
    }
} 

.container-typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
}