#about {
    margin-top: 35%;
    padding-bottom: 20rem;
}

.about-title {
    font-size: 2rem;
    margin-bottom: 10rem;
    color: #f8f8f8;
  }

.comic-section {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);  
    gap: 2rem;
  
    .comic-frame {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      max-width: 800px;
  
      .comic-bubble {
        background-color: #1e1e1e;
        padding: 1.5rem;
        border-radius: 20px;
        border: 2px solid #555;
        position: relative;
  
        p {
          margin: 10;
          font-size: 1.2rem;
          font-family: "Comic Sans MS", sans-serif;
          color: #f8f8f8;
        }
      }
  
      .comic-image {
        max-width: 450px;
        border-radius: 2%;
        border: 3px solid #ccc;
      }
    }
  }
  
  
  @media (max-width: 1024px) {
    .comic-section {
      grid-template-columns: repeat(2, 1fr); 
    }
  
    .comic-frame {
      max-width: 600px; 
    }
  
    .comic-image {
      max-width: 350px;  
    }
  }
  

  @media (max-width: 768px) {
    .comic-section {
      grid-template-columns: 1fr;
      margin-top: 10%;  
    }
  
    .comic-frame {
      max-width: 100%;
    }
  
    .comic-image {
      max-width: 250px; 
    }
  }
  